@import "./assets/base";

.header {
  position: relative;
  color: var(--text-color);
  background-color: var(--background-1);
  width: 100%;
  height: $header-height;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.27);

  .container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    font-size: 22px;
    font-weight: $bold;
    letter-spacing: 1px;
    line-height: 1.2;
    color: var(--text-color);
  }

  @media (max-width: $small) {
    .logo {
      font-size: 17px;
    }
  }
}
