@import "./assets/base";

.countries:not(:empty) {
  margin: 48px 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 75px;

  @media (max-width: $xlarge) {
    grid-gap: 50px;
  }
  @media (max-width: $large) {
    grid-gap: 40px;
  }
  @media (max-width: $medium) {
    grid-gap: 30px;
  }
}
