// Colors
$active-dark-blue: #3f4f5c; // Dark Mode Elements
$dark-blue: #2b3945; // Dark Mode Elements
$very-dark-blue-bg: #202c37; // Dark Mode Background
$dark-gray: #858585; // Light Mode Input
$very-light-gray: #fafafa; // Light Mode Background
$very-dark-blue-text: #111517; // Light Mode Text
$white: #ffffff; // Dark Mode Text & Light Mode Elements

// Typography
$font: "Nunito Sans", sans-serif;

$light: 300;
$medium-weight: 600;
$bold: 800;

// Sizes
$header-height: 80px;

// Devices width
$small: 576px;
$medium: 768px;
$large: 992px;
$xlarge: 1200px;
